<div id="<%= dom_id team %>">
  <p>
    <strong>Team name:</strong>
    <%= team.team_name %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= team.coach %>
  </p>

  <p>
    <strong>Capitan:</strong>
    <%= team.capitan %>
  </p>

  <p>
    <strong>Year of creation:</strong>
    <%= team.year_of_creation %>
  </p>

</div>
