<h1><%= "#{t('team_info')}" %></h1>

<%= stylesheet_link_tag "show_team.css" %>


<div class='today_matches'>
  <div class='one_match'>
    <p class='name'><%= "#{t('team_name')}" %>: <%= @team_name %></p>
    <p class='coach'> <%= "#{t('coach')}" %>:<%= @coach %></p>
    <p class='cap'><%= "#{t('cap')}" %>: <%= @capitan %></p>
    <p class='year'><%= "#{t('year_of_creation')}" %>: <%= @year %></p>
   <%= button_to "#{t('exit')}", root_path, class: "back_to_all btn btn-outline-primary", method: :get %>
  </div>
</div>
