<%= form_with(model: user_about, url: user_about_path(locale, current_user.id), method: :patch) do |form| %>
  <% if user_about.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_about.errors.count, "error") %> prohibited this user_about from being saved:</h2>

      <ul>
        <% user_about.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field mb-3">
        
        <% teams = Team.all %>
        <% teams_name = {} %>
        <% teams[1...20].each do |team| %>
          <% teams_name[team[:team_name]] = team[:id] %>
        <% end %>

        <%= form.select(:fav_club, ["#{t('team')}", *teams_name]) %>
    </div>

    <div class="field mb-3">
      <%= form.label "#{t('picture')}", class: 'login_text form-label' %><br /> 
      <%= form.file_field :image, class: 'add_image_url' %>
    </div>

    <div class="actions">
      <%= form.submit "#{t('update')}", class: 'btn btn-primary' %>
    </div> 
<% end %>
</div>
