<%= stylesheet_link_tag "show_match.css" %>
<%= stylesheet_link_tag "filters.css" %>

<h1>Матчи</h1>
<% if @team_name %>
    <h1>Команда: <%= @team_name %> </h1>
<% end %>
<% if @year %>
    <h1>Сезон: <%= @years %></h1>
<% end %>
<% if @league %>
    <h1>Лига: <%= @league %> </h1>
<% end %>
<%= button_to 'Назад', root_path, method: :get %>

<% if @need_matches.length >= 1 %>
  <div class='today_matches'>
    <% @need_matches.each do |zap| %>
    <% id = zap.id %>
    <div class='one_match' id='<%= zap.id %>'>
        <p class='sop'><%= @teams.find(zap[:sop1_id])[:team_name] %> - <%= @teams.find(zap[:sop2_id])[:team_name] %></p>
        <p class='style'><%= zap.style %></p>
        <p class='schet'>Счет: <%= zap.schet%></p>
        <p class='date'>Дата: <%= zap.match_date %></p>
        <button><%= link_to "Статистика", "/match/show_stat?id=#{id}", method: :get, id: 'stat_button', :style=>'color: black; text-decoration: none' %></button>
    </div>
    <% end %>
    </div>
<% else %>
<h1>Нет матчей, удовлетворяющих данным требованиям ;( </h1>
<% end %>



