<h1>Матчи</h1>

<%= stylesheet_link_tag "show_match.css" %>

<div class='today_matches'>
<% @db.each do |zap| %>
  <% id = zap.id %>
  <div class='one_match' id='<%= zap.id %>'>
    <p class='sop'><%= zap.sop %></p>
    <p class='style'><%= zap.style %></p>
    <p class='schet'>Счет: <%= zap.schet%></p>
    <button><%= link_to "Статистика", "match/show_stat?id=#{id}", method: :get, id: 'stat_button', :style=>'color: black; text-decoration: none' %></button>
  </div>
<% end %>
</div>

