<%= stylesheet_link_tag "profile.css" %>
<h1><%= @username %></h1>
<div class='about'>
    <div class='text'>
        <span class='favsb'>Любимая сборная: <%= @fav_club_name %></span>
        <span class='guest'>Всего комментариев: <%= @guest %></span>
    </div>
    <% if @curr_info.image.attached? %>
        <div class='image'>
            <%= image_tag @avatar, class: "image", width: "40%" %>
        </div>
    <% else %>
        <div class='image'>
            <%= image_tag 'Ronaldo_and_Messi.png', class: "image", width: "40%" %>
        </div>
    <% end %>

</div>
</br>
<%= link_to "Редактировать", edit_user_about_path(current_user.id) %>
