<div id="<%= dom_id match %>">
  <p>
    <strong>Sop:</strong>
    <%= match.sop %>
  </p>

  <p>
    <strong>Schet:</strong>
    <%= match.schet %>
  </p>

  <p>
    <strong>Shotout:</strong>
    <%= match.shotout %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= match.style %>
  </p>

  <p>
    <strong>Statistic:</strong>
    <%= match.statistic %>
  </p>

</div>
